<p>Update book</p>
<form>
    <table class="table">
        <tr>
            <td><label for="name">Tên:</label></td>
            <td><input type="text" id="name" name="name" [(ngModel)]="book.title" value="{{book.title}}"></td>
        </tr>
        <tr>
            <td><label for="author">Tác giả:</label></td>
            <td><input type="text" id="author" name="author" [(ngModel)]="book.author" value="{{book.author}}" ></td>
        </tr>
        <tr>
            <td><label for="description">Mô tả:</label></td>
            <td><textarea id="description" name="description" style="width:1150px; height:100px" [(ngModel)]="book.description" value="{{book.description}}"></textarea></td>
        </tr>
        <tr>
            <td><input type="button" class="btn btn-primary"  (click)="update()"  value="Cập nhật sách"></td>
            <td><button class="btn btn-primary" (click)="Back()">Đi tới Trang chủ</button></td>
        </tr>
    </table>
</form>